:host {
    .mainList {
        margin    : 5px 15px;
        padding   : 0 10px;
        box-shadow: 0 0 8px #ccc;
    }

    p {
        margin: 10px 0;
    }

    .line15 {
        width  : 100%;
        height : 15px;
        display: block;
    }

    .colorGray {
        color: gray;
    }

    .opera {
        text-align: right;

        .enter {
            font-size: 30px;
            color    : #ddd;
            float    : right;
            margin   : 22px 0 0 20px;
        }

        .button {
            float : right;
            margin: 18px 0 0 0;
        }
    }


}